body{
    background-color: beige;
}

.content h1{
    text-align: center;
}

.content h3{
    text-align: center;
}
.content p{
    text-align: start;
    margin: 3px;
}

.box img{
    height: 300px;
    width: 450px;
    position: relative;
    float: left;
    margin: 3px;

}